.lineChartPerso {
    width: 40%; 
    height: 50vh;
    margin-top: 0px;
    padding: 0px 15px 0px 0px;
    border-radius: 10px;

    h2 {
        padding: 0px;
        height: 10px;
        font-size: 20rem;
    }
}